<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 注入spring boot无法扫描到的bean. -->


    <bean id="importUserJobLauncherTestUtils" class="org.springframework.batch.test.JobLauncherTestUtils">
        <property name="job" ref="importUserJob"/>
    </bean>

    <bean id="importUserJobLauncherTestUtils2" class="org.springframework.batch.test.JobLauncherTestUtils">
        <property name="job" ref="importUserJob2"/>
    </bean>


    <bean id="demoUserJobTestUtils" class="org.springframework.batch.test.JobLauncherTestUtils">
        <property name="job" ref="demoUserJob"/>
    </bean>


</beans>