<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.mapper.TAccountMapper">
    <resultMap id="BaseResultMap" type="com.company.project.model.TAccount">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="GLOBAL_ID" jdbcType="VARCHAR" property="globalId"/>
        <result column="TOTAL_AMT" jdbcType="DECIMAL" property="totalAmt"/>
        <result column="FROZEN_AMT" jdbcType="DECIMAL" property="frozenAmt"/>
        <result column="HOT_ACCOUNT" jdbcType="TINYINT" property="hotAccount"/>
        <result column="CR_DATETIME" jdbcType="TIMESTAMP" property="crDatetime"/>
        <result column="LM_DATETIME" jdbcType="TIMESTAMP" property="lmDatetime"/>
        <result column="VERSION" jdbcType="INTEGER" property="version"/>
    </resultMap>
</mapper>